<div class="container">
	<h1>Search for State Fair food items</h1>
	<p class="lead">Use this app to find vendors and foot items at the Iowa State Fair. If you see something we are missing, please add it. This app should run off line.</p>

	<div class="list-group">
		<a href="#/search" class="list-group-item">Coke</a>
		<a href="#/search" class="list-group-item">Diet Coke</a>
		<a href="#/search" class="list-group-item">Cherry Coke</a>
		<a href="#/search" class="list-group-item">Coke Zero</a>
	</div>
</div>