<!doctype html>
<html lang="en" class="no-js" ng-app="fairDrinks">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Web Geeks Fair</title>

	{{!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> --}}
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
</head>
<body>
	<!--[if lt IE 8]>
		<p class="alert alert-warning">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="/">State Fair App</a>
			<a href="#/login" class="btn navbar-btn btn-warning hide">
				<i class="fa fa-sign-in"></i> Login
			</a>
			<a href="#/logout" class="btn navbar-btn btn-warning hide">
				<i class="fa fa-sign-out"></i> Logout
			</a>
		</div>
	</div>

	<ng-view></ng-view>


  <script src="/js/vendor/angular-1.2.21/angular.min.js"></script>
  <script src="/js/vendor/angular-1.2.21/angular-route.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js" async></script>
	<script src="/js/app.js"></script>
	<script src="/js/vendor/jquery-1.11.1.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/modernizr-2.8.0.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/js/vendor/respond.min.js"></script>
	<![endif]-->

</body>
</html>
