<!-- Main Content
            ================================================== -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="media-list">
                          <li class="media">
                            <a class="pull-left" href="#">
                              <img class="media-object" src="..." alt="...">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading">Media heading</h4>
                              ...
                            </div>
                          </li>
                          <li class="media">
                            <a class="pull-left" href="#">
                              <img class="media-object" src="..." alt="...">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading">Media heading</h4>
                              ...
                            </div>
                          </li>
                          <li class="media">
                            <a class="pull-left" href="#">
                              <img class="media-object" src="..." alt="...">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading">Media heading</h4>
                              ...
                            </div>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
