body {
  padding-top: 70px;
}

.sub-nav {
	width: 85%;
	margin: 0 auto 15px;
	padding: 0 0 5px;
	border-radius: 3px;
}

.sub-nav h2 {
	background-repeat: repeat-x;
	background-position: bottom left;
	background-color: #C1302B;
	color: #fff;
	font-size: 22px;
	margin: 0;
	line-height: 60px;
	padding: 0 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.sub-nav ul {
	border: 0;
	background-color: transparent;
	background-image: none;
	padding: 7px 0;
	margin: -1px 0 0;
	color: #4B68AB;
	list-style: none;
}
.sub-nav li {
	margin-bottom: 7px;
}
.sub-nav a {
	padding: 7px 10px;
	border-color: #ccc;
	color: #414062;
	display: block;
	margin: 0;
	text-decoration: none;
	border-bottom: 1px dotted #999;
}
.sub-nav a:hover {
	color: #E74B43;
	background-color: transparent;
}
